//////////////////////////////////////////////////////////////////////
//////////////////////////// LINKED ARTICLES /////////////////////////
//////////////////////////////////////////////////////////////////////

.articles
  +rem(margin-top, 1rem)
  @extend %hidden

  &.open
    @extend %reveal

  $border-color: grey(75)

  // Articles ------------------------------------------------------ /

  article
    @extend %transition
    margin: 0
    +rem(padding, 0 0 2rem 0)
    position: relative

    blockquote, h3
      @extend %transition

    datetime
      @extend %transition
      color: $border-color

    blockquote
      +rem(margin, 0.5rem 0 0)

    h3
      +font-size(1.25rem)
      @extend %strict-title

    &:hover
      border-left-color: $color-accent
      h3, datetime
        color: $color-accent
      blockquote
        +rgba-background-inline(black, .10)

    // Responsive -------------------------------------------------- /

    +from($tablet)
      +rem(margin-left, 2rem)
      +rem(padding-left, 1rem)
      border-left: 3px solid $border-color
      blockquote
        +rem(padding, 1rem)
      datetime
        +rem(font-size, 1.5rem)
        +rotate(-90deg)
        position: absolute
        left: -4rem
        top: 3rem