//////////////////////////////////////////////////////////////////////
/////////////////////////////// FOOTER ///////////////////////////////
//////////////////////////////////////////////////////////////////////

footer

  @extend %accent-block
  @extend %font-size-normal
  +rem(padding, 1rem)
  text-transform: lowercase

  // Links
  a
    color: $dark-color-accent
    &:hover
      color: white

  // Sections
  .colophon
    +rem(margin-top, 1rem)