//////////////////////////////////////////////////////////////////////
/////////////////////////// GENERAL PAGES ////////////////////////////
//////////////////////////////////////////////////////////////////////

.portfolio
  @extend %body
  background-color: fade(white, 50)

  // Titles -------------------------------------------------------- /

  h1
    @extend %font-light
    @extend %font-size-large
    +rem(margin, 1rem 0)
    text-align: center

  h2
    clear: both
    +rem(margin, 1rem 0)
    text-align: center

  h3
    @extend %font-size-medium
    +rem(margin-bottom, 0.25rem)

  // Body ---------------------------------------------------------- /

  p
    @extend %light-block

  blockquote
    @extend %quotation

  figure
    @extend %wide-image

  // Page-specific styles ------------------------------------------ /

  @import ../pages/portfolio/novel
  @import ../pages/portfolio/repository
  @import ../pages/portfolio/memorabilia
  @import ../pages/portfolio/support
  @import ../pages/portfolio/tableaux

// Related modules ------------------------------------------------- /

@import articles