# Dependencies
public/components
node_modules
vendor

# Cache and compiled
.sass-cache
.vagrant
_ide_helper.php
_ide_helper_models.php
bootstrap/compiled.php
public/builds

# Other files
.DS_Store
.idea
sftp-config.json
