//////////////////////////////////////////////////////////////////////
///////////////////////// BLOCK PLACEHOLDERS /////////////////////////
//////////////////////////////////////////////////////////////////////

// Responsive containers ------------------------------------------- /

%responsive-body
  @extend %container-wide
  +rem(padding, 2rem)

  +to($tablet)
    +rem(padding, 1rem)

  +from-to($tablet, $wide)
    width: 90%

  +from-to($wide, $wider)
    width: 70%

  +from($wider)
    width: 60%

%responsive-content
  +from-to($desktop, $wide)
    +per-row(2)

  +from($wide)
    +per-row(3)

%wide
  width: 100%

// Typography ------------------------------------------------------ /

%block--wide
  @extend %wide
  display: block

%accent
  color: $color-accent
  font-weight: 500

%lips
  border: none
  border-bottom: 1px solid grey(40)

%lips--accent
  @extend %lips
  border-color: mix(white, $color-accent, 70)

// Accent blocks --------------------------------------------------- /

%block-accent
  background-color: $color-accent
  border: none
  color: white
  text-align: center

%block-accent--light
  @extend %block-accent
  background-color: $color-accent--light
  text-shadow: 0 .15em 0 fade(black, 25)

%block-accent--clickable
  @extend %block-accent
  @extend %block--wide
  @extend %font-base
  @extend %font-size-normal
  clear: both
  cursor: pointer
  +rem(padding, 0.25rem 0)
  &:hover
    background-color: lighten($color-accent, 10)
    color: white
  &:active
    background-color: lighten($color-accent, 15)

// Light blocks ---------------------------------------------------- /

%block-light
  background: rgba-inline(black, .05)
  color: grey(20)
  +rem(padding, 0.75rem)
  text-align: justify

%block-light--quotation
  @extend %block-light
  font-style: italic
  margin-left: 0
  margin-right: 0

  +from($desktop)
    background-image: image-url('quotes.png')
    +rem(background-position, 1rem 1rem)
    background-repeat: no-repeat
    background-size: 10%
    +rem(margin, 2rem 10%)
    +rem(padding, 2rem)

@import category

// Animations ------------------------------------------------------ /

%hidden
  @extend %opacity0
  @extend %transition
  height: 0
  overflow: hidden

%reveal
  @extend %opacity100
  height: 100%
  max-height: auto

%open
  @extend %opacity100
  display: block