//////////////////////////////////////////////////////////////////////
/////////////////////////// CATEGORY MODULE //////////////////////////
//////////////////////////////////////////////////////////////////////

// Categories ------------------------------------------------------ /

%category {

  @extend %container-wide;
  @extend %block-light;
  @extend %border-box;
  @extend %transition;
  @extend %margin-underline;
  @include rem(padding, 1rem);

  &:active {
    @include rgba-background-inline(rgba(black, 0.1));
  }

  // Titles ------------------------------------------------------ /

  figcaption {
    @extend %border-box;
    @include rem(padding-left, 1rem);
  }
  h3, h4 {
    color: grey(20);
    text-align: left;
  }
  h3 {
    @extend %font-light;
    @extend %font-size-medium;
    line-height: 1;
  }
  h4 {
    @extend %font-base;
    @extend %font-size-normal;
    @include rem(margin-top, 0.5rem);
    text-transform: none;
  }

  // Responsive ---------------------------------------------------- /

  @include to($tablet) {
    &:hover {
      @include rgba-background-inline(rgba(black, 0.1));
    }
    img {
      @include span(3);
    }
    figcaption {
      @include span(9 omega);
    }
  }

  @include from-to($tablet, $desktop) {
    img {
      @include span(2);
    }
    figcaption {
      @include span(10 omega);
    }
  }

  @include from($desktop) {
    opacity: 0.25;
    h4 {
      opacity: 0;
    }
    &:hover {
      opacity: 1;
      h4 {
        transition: all 0.3s;
        opacity: 1;
      }
    }
  }

  @include from-to($desktop, $wide) {
    img {
      @include span(3);
    }
    figcaption {
      @include span(9 omega);
    }
  }

  @include from($wide) {
    img {
      @include span(3);
    }
    figcaption {
      @include span(9 omega);
    }
  }
}

// Giant categories ------------------------------------------------ /

%category--giant {

  @extend %category;
  @include from-to($tablet, $desktop) {
    @include per-row(2);
  }

  @include from-to($desktop, $wide) {
    figcaption {
      margin-top: 5%;
    }
  }

  @include from($desktop) {
    width: 80%;
    @include skewY(-3deg);
    position: relative;
    left: 10%;
    &:hover {
      left: 0;
      @include skewY(0deg);
    }
    figcaption {
      margin-top: 6%;
    }
    h3, h4 {
      font-weight: 100;
    }
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.5rem;
      line-height: .25em;
    }
  }
}

// Responsive categories ------------------------------------------- /

%category--responsive {
  @extend %category;
  @extend %responsive-content;
}
