// IMAGES
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

// Main block ------------------------------------------------------ /

.image-wrap {
  @extend %transition;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: bottom;
  &:hover {
    @extend %opacity75;
  }

  &:after {
    box-shadow: inset 0 0 1px fade(white, 0.40), inset 0 1px 0 fade(white, 0.40), 0 1px 2px fade(black, 0.30);
    border: solid 1px grey(10);
    content: " ";
    height: 100%;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 100%;
  }
  img {
    box-shadow: 0 1px 2px fade(black, 0.40);
    border-radius: 0;
    vertical-align: bottom;
  }
}

%image-cover {
  background-position: center;
  background-size: cover;
  @include rem(height, 15rem);
  @include from($wide) {
    @include rem(height, 20rem);
  }
}

%image-captioned {
  @extend %block-light;
  @extend %border-box;
  @extend %wide;
  @include rem(margin, 1rem 0);
  @include rem(padding, 1rem);
  @include rgba-background-inline(rgba(black, 0.03));
  text-align: center;

  @include from($desktop) {
    .image-wrap {
      max-width: 75%;
    }
  }
}

%image-captioned--polaroid {
  @extend %image-captioned;
  figcaption {
    @extend %block-light;
    margin: 0;
    @extend %margin-underline;
    font-style: italic;
  }
  h2 {
    @extend %title-condensed;
    @include rem(margin, 0 0 1rem);
  }
}

%wide-image {
  text-align: center;
  img {
    max-width: 100%;
  }
}
