//////////////////////////////////////////////////////////////////////
/////////////////////////////// IMAGES ///////////////////////////////
//////////////////////////////////////////////////////////////////////

.image-wrap {
  @extend %transition;
  &:hover {
    @extend %opacity75;
  }
}

%image-cover {
  background-position: center;
  background-size: cover;
  @include rem(height, 15rem);
  @include from($wide) {
    @include rem(height, 20rem);
  }
}

%image-captioned {
  @include rem(margin, 1rem 0);
  @include rem(padding, 1rem);
  @extend %block-light;
  @extend %border-box;
  @extend %wide;
  @include rgba-background-inline(rgba(black, 0.03));
  text-align: center;
  @include from($desktop) {
    .image-wrap {
      max-width: 75%;
    }
  }
}

%image-captioned--polaroid {
  @extend %image-captioned;
  figcaption {
    @extend %block-light;
    @extend %reset-margin;
    @extend %margin-underline;
    font-style: italic;
  }
  h2 {
    @extend %title-condensed;
    @include rem(margin, 0 0 1rem);
  }
}

%wide-image {
  text-align: center;
  img {
    max-width: 100%;
  }
}
