//////////////////////////////////////////////////////////////////////
//////////////////////////// PLACEHOLDERS ////////////////////////////
//////////////////////////////////////////////////////////////////////

// Font styles ----------------------------------------------------- /

%title-condensed {
  @extend %font-condensed;
  @extend %font-size-large;
  color: grey(40);
  text-align: center;
  text-shadow: 0 0.1em 0 grey(90);
}

%title-strict {
  @extend %font-base;
  font-weight: 600;
  text-transform: uppercase;
}
