//////////////////////////////////////////////////////////////////////
//////////////////////// GRID SYSTEM AND SUSY ////////////////////////
//////////////////////////////////////////////////////////////////////

// SUSY import ----------------------------------------------------- /

@import "susy";

// Responsive design ----------------------------------------------- /

$wider: 1500px;
$wide: 1200px;
$desktop: 980px;
$tablet: 768px;
$mobile: 480px;
$mini: 300px;

// Define a wide container ----------------------------------------- /

@mixin container-wide {
  @include container;
  max-width: 100%;
  padding: 0;
}

// Define a number of items per row -------------------------------- /

@mixin per-row($perRow, $numberColumns: $total-columns, $padding: false, $last: false) {
  $span: $numberColumns / $perRow;
  @include span-columns($span, $numberColumns, $padding);
  @if $last {
    @include nth-omega;
  }
  @else {
    @include nth-omega(#{$perRow}n, of-type);
  }
}

// Breakpoint helpers ---------------------------------------------- /

@mixin from-to($from, $to) {
  @include at-breakpoint($from $total-columns $to) {
    @content;
  }
}

@mixin to($to) {
  @include at-breakpoint(0 $total-columns $to) {
    @content;
  }
}

@mixin from($from) {
  @include at-breakpoint($from $total-columns) {
    @content;
  }
}
