//////////////////////////////////////////////////////////////////////
////////////////////////// SWATCHES AND COLORS ///////////////////////
//////////////////////////////////////////////////////////////////////

// SOLARIZED ------------------------------------------------------- /

// Dark colors
$solarized-base03  : #002b36;
$solarized-base02  : #073642;
$solarized-base01  : #586e75;
$solarized-base00  : #657b83;

// Light colors
$solarized-base0   : #839496;
$solarized-base1   : #93a1a1;
$solarized-base2   : #eee8d5;
$solarized-base3   : #fdf6e3;

// Accent colors
$solarized-yellow  : #b58900;
$solarized-orange  : #cb4b16;
$solarized-red     : #dc322f;
$solarized-magenta : #d33682;
$solarized-violet  : #6c71c4;
$solarized-blue    : #268bd2;
$solarized-cyan    : #2aa198;
$solarized-green   : #859900;

// Bootstrap ------------------------------------------------------- /

// Base colors
$bootstrap-black        : black;
$bootstrap-gray-darker  : #222222;
$bootstrap-gray-dark    : #333333;
$bootstrap-gray         : #555555;
$bootstrap-gray-light   : #999999;
$bootstrap-gray-lighter : #eeeeee;
$bootstrap-white        : white;

// Accent colors
$bootstrap-blue         : #049cdb;
$bootstrap-blue-dark    : #0064cd;
$bootstrap-green        : #46a546;
$bootstrap-red          : #9d261d;
$bootstrap-yellow       : #ffc40d;
$bootstrap-orange       : #f89406;
$bootstrap-pink         : #c3325f;
$bootstrap-purple       : #7a43b6;
