//////////////////////////////////////////////////////////////////////
////////////////////////////// VARIABLES /////////////////////////////
//////////////////////////////////////////////////////////////////////

// Base font stack ------------------------------------------------- /

$font-sans  : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif : Georgia, "Times New Roman", Times, serif !default;
$font-mono  : Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Third party options --------------------------------------------- /

$round-to-nearest-half-line : true;
$rhythm-unit                : 'rem' !default;

// Base sizes  ----------------------------------------------------- /

// Font size
$base-font-size   : 16px !default;
$base-size        : 1rem !default;

// Line height
$line-height      : 1.5 !default;
$base-line-height : $base-font-size * $line-height;

//////////////////////////////////////////////////////////////////////
//////////////////////// SHORTCUTS AND ALIASES ///////////////////////
//////////////////////////////////////////////////////////////////////

// Base font sizes ------------------------------------------------- /

$font-size-xxxsmall : 0.15rem;
$font-size-xxsmall  : 0.25rem;
$font-size-xsmall   : 0.4rem;
$font-size-small    : 0.6rem;
$font-size-tiny     : 0.75rem;
$font-size-normal   : 1rem;
$font-size-heavy    : 1.25rem;
$font-size-medium   : 1.5rem;
$font-size-large    : 2.5rem;
$font-size-xlarge   : 4.25rem;
$font-size-xxlarge  : 6.75rem;
$font-size-xxxlarge : 11rem;

// Related mixins -------------------------------------------------- /

// Alias for +adjust-font-size-to
@mixin font-size($font-size) {
  @include adjust-font-size-to($font-size);
}
