//////////////////////////////////////////////////////////////////////
//////////////////////////// ABOUT DETAILS ///////////////////////////
//////////////////////////////////////////////////////////////////////

.about-more {
  @include rem(margin-top, 1rem);
  @extend %container-wide;
  @extend %hidden;
  clear: both;
  &.open {
    @extend %reveal;
  }

  @include from($wider) {
    opacity: 1;
    height: 100%;
    max-height: auto;
  }

  // Titles -------------------------------------------------------- /

  h3 {
    @include rem(padding, 0.5rem 0);
    @extend %font-size-normal;
    @extend %block-accent--light;
    font-weight: 400;
  }

  // Lists --------------------------------------------------------- /

  ul {
    @extend %block-light;
    @extend %reset-list;
    li {
      text-align: left;
    }

    h4 {
      $color: lighten($color-accent, 10);
      border: 1px solid $color;
      border-width: 0 0 1px;
      color: $color;
      padding: 0.25rem 0;
      margin: 0.5rem 0;
    }
  }

  // Responsive ---------------------------------------------------- /

  @include to($tablet) {
    ul {
      column-count: 2;;
    }
  }

  @include from-to($tablet, $wider) {
    article {
      @include per-row(3);
    }
  }

  @include from($wider) {
    article {
      @include per-row(4);
    }
  }

}
