<a class='block' data-show='.articles'>{{ 'Voir les articles liés'|trans }}</a>

<section class='articles hidden'>
	{% if articles is not empty %}
		{% for article in articles %}
			{% include '_partials.articles-list.article-block' %}
		{% endfor %}
	{% endif %}
</section>
