{% extends '_layouts.global' %}

{% block title %}
	{{ category.name }} -
{% endblock %}

{% block navigation %}
	{{ HTML.homeLink() }}
{% endblock %}

{% block layout %}
	<section class='portfolio'>
		<h1>{{ category.name }}</h1>
		{% block content %}
		{% endblock %}
	</section>
{% endblock %}
