//////////////////////////////////////////////////////////////////////
/////////////////////////// PORTFOLIO HOME ///////////////////////////
//////////////////////////////////////////////////////////////////////

.categories {

  @extend %container-wide;

  // Main title ---------------------------------------------------- /

  h2 {
    @include font-size($font-size-xlarge);
    @include rem(margin-bottom, 2rem);
    @extend %accent;
    @extend %font-light;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
  }

  // Categories ---------------------------------------------------- /

  figure {
    @extend %category--giant;
  }

}

.about {
  @extend %container-wide;
  @import "about/header";
  @import "about/about";
  @import "about/biography";
  @import "about/details";
}