//////////////////////////////////////////////////////////////////////
///////////////////////// GRACEFUL DEGRADATION ///////////////////////
//////////////////////////////////////////////////////////////////////

.project {
  @extend %container-wide;

  h3 {
    margin-bottom: 1.5rem;
    small {
      display: block;
    }
  }

  figure {
    @extend %block-light;
    margin: 2rem 0;
  }
  figcaption {
    background: rgba(black, .05);
    padding: 0.5rem;
    line-height: 1.2;
    font-style: italic;
  }
}

.project__summary__links {
  padding: 0;
  a {
    display: inline-block;
    width: auto;
    @extend %block-accent--clickable;
    padding: 0.5rem;
  }
}

.repository {
  @extend %responsive-content;
  opacity: 1;

  figure {
    @extend %category;
    opacity: 1;
    @include from($wide) {
      @include rem(min-height, 15rem);
    }

    h4 {
      opacity: 1;
    }
  }

  h3 {
    @extend %margin-underline;
  }
  .build {
    margin-right: 0.5rem;
  }

  &:hover {
    @extend %opacity100;
    figure {
      @extend %block-accent;
      background-color: $color-accent;
      h3, h4 {
        color: white;
      }
    }
  }

}
