//////////////////////////////////////////////////////////////////////
///////////////////////// GRACEFUL DEGRADATION ///////////////////////
//////////////////////////////////////////////////////////////////////

.repository {

  @extend %responsive-content;
  @extend %opacity75;

  figure {
    @extend %category;
    @include opacity(0.75);
    @include from($wide) {
      @include rem(min-height, 15rem);
    }
  }

  h3 {
    @extend %margin-underline;
  }
  .build {
    margin-right: 0.5rem;
  }

  &:hover {
    @extend %opacity100;
    figure {
      @extend %block-accent;
      background-color: $color-accent;
      h3, h4 {
        color: white;
      }
    }
  }

}
