<a class='block' data-show='.articles'>{{ lang('global.see_articles') }}</a>

<section class='articles hidden'>
	{% if articles is not empty %}
		{% for article in articles %}
			{% include 'partials.articles-list.article-block' %}
		{% endfor %}
	{% endif %}
</section>
