{% extends '_layouts.portfolio' %}

{% block content %}
	<p>
		{% set blog = HTML.linkBlank('http://blogs.wefrag.com/Anahkiasen/', 'blog') %}
		{% trans -%}
		Un ensemble d'articles sur les sujets qui me passionnent : le web, la photographie, la musique, et j'en passe.<br>Tous sont trouvables dans leurs catégories respectives mais sont rassemblés ici. Ils proviennent à l'origine de mon {{ blog }}.
		{%- endtrans %}
	</p>
	{{ HTML.blockLink('http://blogs.wefrag.com/Anahkiasen/', 'Accéder au blog "Out through the winter throat"'|trans, {target: '_blank'}) }}
	<hr>

	<section class='articles'>
		{% for article in articles %}
			{% include '_partials.articles-list.article-block' %}
		{% endfor %}
	</section>
{% endblock %}

{% block js %}
	{{ Assets.scripts('affixed') }}
{% endblock %}
