{% extends 'layouts.portfolio' %}

{% block content %}
	<p>
		Un ensemble d'articles sur les sujets qui me passionnent : le web, la photographie, la musique, et j'en passe.<br>
		Tous sont trouvables dans leurs catégories respectives mais sont rassemblés ici. Ils proviennent à l'origine de mon
		{{ html_linkBlank('http://blogs.wefrag.com/Anahkiasen/', 'blog personnel') }}.
	</p>
	{{ html_blockLink('http://blogs.wefrag.com/Anahkiasen/', 'Accéder au blog "Out through the winter throat"', {target: '_blank'}) }}
	<hr>

	<section class='articles'>
		{% for article in articles %}
			{% include 'partials.articles-list.article-block' %}
		{% endfor %}
	</section>
{% endblock %}

{% block js %}
	{{ assets('affixed.js') }}
{% endblock %}
