{% extends 'layouts.portfolio' %}

{% block content %}
	<p>
		Sur cette page sont entreposées toutes les illustrations, dessins et consors que j'ai pu faire entre deux. Cela va de la peinture digitale au dessin au fusain, au rendu 3D en passant par l'illustration vectorielle.
	</p>
	<hr>

	{% for support in supports if support.thumbnail %}
		<figure class='support'>
			<a href='{{ url_action('IllustrationsController@support', support.id) }}'>
				{{ support.thumbnail.thumb(support.folder, support.name) }}
				<figcaption>
					<h3>{{ support.name }}</h3>
				</figcaption>
			</a>
		</figure>
	{% endfor %}
{% endblock %}
