//////////////////////////////////////////////////////////////////////
//////////////////////////// SCAFFOLDING /////////////////////////////
//////////////////////////////////////////////////////////////////////

// Typography baseline --------------------------------------------- /

@include establish-baseline(16px);

@include to($tablet) {
  @include establish-baseline(18px);
}

@include selection {
  background-color: $color-accent;
  color: white;
}

body {
  padding: 0;
  font-family: $font-base;
  background-color: white;
  background-image: inline-image("noise.png");
}

span.block {
  @extend %accent;
  @extend %block-accent--clickable;
}

dl {
  @extend %block-light;

  dt, dd {
    margin: 0;
  }
  dt {
    @include rem(margin-right, 1rem);
    @extend %accent;
    font-weight: 700;
  }
}

ul.fixed {
  @extend %affixed;
}
