//////////////////////////////////////////////////////////////////////
///////////////////////////// TYPOGRAPHY /////////////////////////////
//////////////////////////////////////////////////////////////////////

a {
  @extend %accent;
  @extend %lips;
  &, &:hover {
    text-decoration: none;
  }
  &:hover {
    color: $color-accent--dark;
  }
  &.block, &.back {
    @extend %block-accent--clickable;
  }
  &.back {
    @extend %block-accent--light;
    margin: 0;
  }
}

hr {
  @extend %lips--accent;
  @include rem(margin, 1rem 0);
  clear: both;

  .portfolio & + h2 {
    @include rem(margin, 3rem 0);
  }
}

h1, h2, h3, h4 {
  @extend %reset-title;

  small {
    color: grey(50);
    font-style: italic;
    letter-spacing: -.1em;
    line-height: 1;
  }
}

strong {
  @extend %accent;
}
