//////////////////////////////////////////////////////////////////////
/////////////////////////////// COLORS ///////////////////////////////
//////////////////////////////////////////////////////////////////////

// Swatch ---------------------------------------------------------- /

$pink-red : #ea2c46;

// Colors ---------------------------------------------------------- /

$color-accent        : $pink-red;
$color-accent--light : lighten($color-accent, 20);
$color-accent--dark  : darken($color-accent, 20);
