//////////////////////////////////////////////////////////////////////
//////////////////////////////// FONTS ///////////////////////////////
//////////////////////////////////////////////////////////////////////

$font-base      : "adelle",       $sansFontFamily;
$font-light     : "jubilat",      $sansFontFamily;
$font-condensed : "atrament-web", $sansFontFamily;
