// MIXINS
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

// font-size
//
// Alias for adjust-font-size-to
//
// @param integer $font-size

@mixin font-size($font-size) {
	@include adjust-font-size-to($font-size);
}

// double-shadow
//
// Firefox-like "double shadow"

@mixin double-shadow($size: 2px, $blur: 0) {
  @include box-shadow(0 $size $blur fade(black, 10), inset 0 -$size $blur fade(black, 20));
}

// Changes the selection effect
$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin selection {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      @content;
    }
  }
}

// Responsive mixins
//////////////////////////////////////////////////////////////////////

// container-wide
//
// Creates a wide container

@mixin container-wide {
  @include container;
  max-width: 100%;
}

// per-row
//
// Set a number of items per row

@mixin per-row($number, $gutter: nil) {
  // Replace temporarly gutter-width if required
  $old-gutter-width: susy-get("gutters");
  @if $gutter != nil {
    $gutter-width: $gutter;
  }

  // Set columns
  @include span(round(susy-get("columns") / $number));
  &:nth-child(#{$number}n) {
    @include omega;
  }

  // Restore gutter-width
  $gutter-width: $old-gutter-width;
}

// from-to, to and from
//
// Helpers to create media queries

@mixin from-to($from, $to) {
  @include breakpoint($from $to) {
    @content;
  }
}

@mixin to($to) {
  @include breakpoint(max-width $to) {
    @content;
  }
}

@mixin from($from) {
  @include breakpoint(min-width $from) {
    @content;
  }
}
