// Variables
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

// Fonts
//////////////////////////////////////////////////////////////////////

$font-sans                  : "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-base                  : "adelle",       $font-sans;
$font-light                 : "jubilat",      $font-sans;
$font-condensed             : "atrament-web", $font-sans;

// Colors
//////////////////////////////////////////////////////////////////////

$pink-red                   : hsl(352, 82%, 55%);

$color-accent               : $pink-red;
$color-accent--light        : lighten($color-accent, 20);
$color-accent--dark         : darken($color-accent, 20);

// Breakpoints
//////////////////////////////////////////////////////////////////////

$wider                      : 90em;
$wide                       : 75em;
$desktop                    : 60em;
$tablet                     : 50em;
$mobile                     : 30em;
$mini                       : 20em;

// Susy
//////////////////////////////////////////////////////////////////////

$susy: (
	container : 59em,
	columns   : 12,
);